MINIO_ROOT_USER=realgood_minio_admin
MINIO_ROOT_PASSWORD=replace-with-a-long-random-password
MINIO_DATA_PATH=/data/raid/minio
MINIO_BIND_ADDRESS=127.0.0.1
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_PUBLIC_ENDPOINT=https://data.realgoodresearch.com/minio
POSTGRES_DB=data_portal
POSTGRES_USER=data_portal
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_DATA_PATH=/data/raid/postgres
POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_PORT=5432
PRESIGNED_URL_TTL_SECONDS=300
LETSENCRYPT_EMAIL=ops@realgoodresearch.com
